.character {
  max-height: 60vh;
}

.stats > h3 {
  font-size: 1rem;
  margin: 0;
}

.inventory-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .25rem;
  margin: 1rem 0;
}

.inventory-item {
  width: 4vw;
  height: 4vw;
}

.inventory-item > img {
  width: 100%;
  padding: .25rem;
}
